<section class="seed-list">
  {{#if checkInWarning}}
    <span class="warning">
      Check-in has started but is not finished yet; the results here aren't final and shouldn't be used to create brackets!
    </span>
  {{/if}}

  {{#if seeds.length}}
    <main>
      <div>
        <h1>
          {{#if isDuel}}
            Registered players
          {{else}}
           Registered teams
          {{/if}}
        </h1>

        <ol {{#unless isDuel}}class="teams"{{/unless}}>
          {{#each seeds}}
            {{#if isDuel}}
              <li><a href={{this.url}} target="_blank">{{this.name}} – {{this.rating}}</a></li>
            {{else}}
            <li>
              <span>{{this.name}} – {{this.rating}}</span>
              {{#each this.players}}
                <a href={{this.url}} target="_blank">{{this.name}}</a>
                <br>
              {{/each}}
            </li>
            {{/if}}
          {{/each}}
        </ol>
      </div>

      <div>
        <h1>
          {{#if isDuel}}
            Checked in players
          {{else}}
            Checked in teams
          {{/if}}
        </h1>

        <ol {{#unless isDuel}}class="teams"{{/unless}}>
          {{#each seeds}}
            {{#if this.checkedInAt}}
              {{#if isDuel}}
                <li><a href={{this.url}} target="_blank">{{this.name}} – {{this.rating}}</a></li>
              {{else}}
              <li>
                <span>{{this.name}} – {{this.rating}}</span>
                {{#each this.players}}
                  <a href={{this.url}} target="_blank">{{this.name}}</a>
                  <br>
                {{/each}}
              </li>
              {{/if}}
            {{/if}}
          {{/each}}
        </ol>
      </div>
    </main>

  {{else}}
    <h1>No seeds available; is the check in done yet?</h1>
  {{/if}}

  <a class="btn" href="/">Go back</a>
</section>
