<section>
  <span class="intro">A tool to help you seed Quake Champion players based on their Elo rating. Start by selecting the format.</span>

  <nav class="tabs">
    <a href="/" {{#isDuel}}class="active"{{/isDuel}}>Duel</a>
    <a href="/2v2" {{#unless isDuel}}class="active"{{/unless}}>2v2</a>
  </nav>

  <span class="intro">Then, you can use a</span>

  {{#isDuel}}
    <input type="text" placeholder="Battlefy URL or ID" class="id" onkeyup="onKeyUp(event)">

    <span class="separator"><span>or add players manually</span></span>

    <div class="players">
      <input type="text" placeholder="Player name, e.g. rapha" class="name" onkeyup="onKeyUpName(event)">
    </div>
    <span class="notice">Note: names must be case-sensitive; they need to match names in stats.quake.com</span>
    <button type="button" name="button" class="btn" onclick="goToSeeds()">Get seeds</button>
  {{else}}
    <input type="text" placeholder="Battlefy URL or ID" class="id" onkeyup="onKeyUp(event)">

    <span class="separator"><span>or add teams manually</span></span>

    <div class="players">
      <div class="team">
        <input type="text" placeholder="Team name, e.g. Team Liquid" class="team-name" onkeyup="onKeyUpTeam(event)">

        <div class="team-members">
          <input type="text" placeholder="Player name" class="player-1" onkeyup="onKeyUpTeam(event)">
          <input type="text" placeholder="Player name" class="player-2" onkeyup="onKeyUpTeam(event)">
        </div>
      </div>
    </div>
    <span class="notice">Note: player names must be case-sensitive; they need to match names in stats.quake.com</span>
    <button type="button" name="button" class="btn" onclick="goToTeamSeeds()">Get seeds</button>
  {{/isDuel}}

</section>
