<section class="seed-list">
  {{#if seeds.length}}
    <main>
      <div>
        <h1>Registered players</h1>
        <ol>
          {{#each seeds}}
            <li><a href={{this.url}} target="_blank">{{this.name}} –– {{this.rating}}</a></li>
          {{/each}}
        </ol>
      </div>

      <div>
        <h1>Checked in players</h1>
        <ol>
          {{#each seeds}}
            {{#if this.checkedInAt}}
              <li><a href={{this.url}} target="_blank">{{this.name}} –– {{this.rating}}</a></li>
            {{/if}}
          {{/each}}
        </ol>
      </div>
    </main>

  {{else}}
    <h1>No seeds available; is the check in done yet?</h1>
  {{/if}}

  <a class="btn" href="/">Go back</a>
</section>
